/* styles.css */

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do body */
body {
  font-family: 'Inter', sans-serif;
}

/* Estilo do título do projeto */
.titleProject {
  margin-top: 2rem;
  text-align: center;
  font-weight: 500;
}

/* Estilo das setas de navegação */
.arrow {
  cursor: pointer;
  opacity: 1;
  padding: 0.5rem;
  width: 2rem;
  background-color: #33B667;
  position: absolute;
  border-radius: 6px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Estilo para quando a seta está desabilitada */
.arrow.disabled {
  cursor: not-allowed;
  opacity: 0.5; /* Faz a seta parecer desabilitada */
}

/* Estilo da seta esquerda */
.arrow.left {
  left: 25px;
}

/* Estilo da seta direita */
.arrow.right {
  right: 25px;
}

/* Estilo do cabeçalho */
.header {
  height: 76px;
  background-color: #33B667;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
}

/* Estilo do cartão de jogos */
.card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  width: 340px;
  padding: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilo do cabeçalho do cartão */
.headerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Para posicionar as setas dentro do cartão */
}

/* Estilo do título da rodada */
.title {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

/* Estilo do subtítulo */
.subtitle {
  font-size: 12px;
  color: #000;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

/* Estilo da área de partidas */
.matches {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilo de separação entre partidas */
.divide {
  border: 1px solid #DDDDDD;
  width: 100%;
}

/* Estilo de cada partida */
.match {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* Estilo do time */
.team {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilo do escudo do time */
.team-logo {
  width: 30px;
  height: 30px;
}

/* Estilo do nome do time */
.name {
  font-size: 14px;
  font-weight: bold;
}

/* Estilo do placar */
.score {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

/* Estilo do container de vs */
.vsContainer {
  font-size: 20px;
  color: #D1D1D1;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}
