/* styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.titleProject {
  margin-top: 2rem;
  text-align: center;
  font-weight: 500;
}

.arrow {
  cursor: pointer;
  opacity: 1;
}

/* Estilo para quando a seta está desabilitada */
.arrow[disabled] {
  cursor: not-allowed;
  opacity: 0.5; /* Faz a seta parecer desabilitada */
}

.header {
  height: 76px;
  background-color: #33B667;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Inter, sans-serif;
  font-size: 22px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  width: 340px;
  padding: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  padding: 0.5rem;
  width: 2rem;
  background-color: #33B667;
  /* position: absolute; */
  border-radius: 6px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* .arrow.left {
  left: 25px;
}

.arrow.right {
  right: 25px;
} */

.title {
  font-size: 16px;
  margin: 0;
}

.subtitle {
  font-size: 12px;
  color: #000;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

.matches {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divide {
  border: 1px solid #DDDDDD;
  width: 100%;
  margin-top: 10px;
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#matches > .match:last-child .divide {
  display: none;
}

.teams-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.team-logo {
  width: 32px;
  height: 40px;
}

.team-name {
  font-size: 12px;
  font-weight: bold;
}

.team-score {
  font-size: 15px;
  font-weight: bold;
}

.versusScore {
  display: flex; 
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  gap: 10px
}

.vs {
  height: 12px;
  width: 12px;
}
