/* styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.titleProject {
  margin-top: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.disabled-arrow {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.header {
  height: 76px;
  background-color: #33B667;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
}

.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  width: 340px;
  padding: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  padding: 0.5rem;
  width: 2rem;
  background-color: #33B667;
  border-radius: 6px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.arrow:hover {
  opacity: 0.8;
}

.title {
  font-size: 16px;
  margin: 0;
}

.subtitle {
  font-size: 12px;
  color: #000;
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

.matches {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#matches > .match:last-child .divide {
  display: none;
}

.divide {
  border: 1px solid #DDDDDD;
  width: 100%;
  margin-top: 10px;
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.teams-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.team-logo {
  width: 32px;
  height: 40px;
}

.team-name {
  font-size: 12px;
  font-weight: bold;
}

.team-score {
  font-size: 15px;
  font-weight: bold;
}

.versusScore {
  display: flex; 
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  gap: 10px;
}

.vs {
  height: 12px;
  width: 12px;
}

/* RESPONSIVIDADE */

/* Dispositivos com largura de no máximo 580px */
@media (max-width: 580px) {
  .titleProject {
    font-size: 20px;
  }

  .card {
    width: 90%;
    padding: 16px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .header h1 {
    font-size: 22px;
  }

  .arrow {
    width: 1.5rem;
  }

  .title {
    font-size: 14px;
  }

  .subtitle {
    font-size: 10px;
  }

  .matches {
    margin-top: 1.5rem;
  }

  .versusScore {
    font-size: 16px;
  }

  .team-logo {
    width: 24px;
    height: 30px;
  }

  .team-name, .team-score {
    font-size: 10px;
  }
}

/* Dispositivos com altura de no máximo 620px */
@media (max-height: 620px) {
  .card {
    top: 60%;
    transform: translate(-50%, -50%);
  }
}
